*.vsix

# Build related
build-results/
tools/**
!tools/packages.config
.DS_Store
.vscode/settings.json
node_modules/**
lib/**
*.suo
/Cake.AzureDevops.Task.njsproj.user

Task/index.js

Task/lib.json

obj/Debug/

Cake.Vso.njsproj.user

bin/

.taskkey

.vs/